PORT=3000
VERIFY_TOKEN=yyyyy
WHATSAPP_TOKEN=Exxx
PHONE_NUMBER_ID=558999
WHATSAPP_API_URL=https://graph.facebook.com/v23.0/25/messages

# PHONE_NUMBER_ID_ARG=123456789
API_VERSION=v23.0

DB_USER=xxxxx
DB_PASSWORD=xxx
DB_SERVER=localhost
DB_NAME=Demo
DB_PORT=37905

